/* Button style */
#genera,
#annulla {
    padding: 10px;
    border-radius: 20px;
    width: 150px;
    margin-right: 40px;
}

/* Card */

.card {
    background-color: aqua;
    padding: 20px;
    display: flex;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.m-10 {
    margin: 10px;
}

.info {
    padding: 20px;
}

.label {
    background-color: cornflowerblue;
    padding: 10px;
    border-radius: 20px;
    color: #fff;
    display: block;
    margin-bottom: 20px;
}

.name-surname,
.distance,
.age-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.